@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700;800&display=swap')

html
	*
		font-family: 'Assistant', sans-serif
body
	.inicio
		height: 100vh
		background: #060   
		color: #FFF
	&.sindatos
		.inicio
			.jugadornuevo
				display: unset 
			.jugadorviejo
				display: none
	&.jugadoractivo
		.inicio
			.jugadornuevo
				display: none 
			.jugadorviejo
				display: unset
	.juego
		display: none
		.tanteador
			position: absolute
			bottom: 0
			width: 100%
			.chicos
				color: #FFF
				position: relative
				padding-top: 2rem
				display: flex
				justify-content: center
				align-items: flex-end
				text-transform: uppercase
				font-weight: bold
				&::before
					position: absolute
					top: 0
					left: 0
					right: 0
					text-align: center
					content: attr(data-text)
					font-size: .8rem
				.puntochico
					width: 1rem
					height: 1rem
					border-radius: .5rem
					background: #FFF
					margin: 0 .5rem
			.puntos
				color: #FFF
				position: relative
				padding: 1rem
				font-size: 1.2rem
				font-weight: bold
				text-transform: uppercase
				text-align: center
				&::before
					position: absolute
					top: 0
					left: 0
					right: 0
					text-align: center
					content: attr(data-text)
					font-size: .8rem
		.accionesjugador1
			top: 0
			opacity: .3
			div
				position: relative
				button
					display: block
					opacity: 0
					transition: all .5s
					&#guardar
						opacity: 1
					&#envido,
					&#truco,
					&#retruco,
					&#vale4
						display: none
		.manojugador1,
		.manojugador2
			position: relative
			&::before
				position: absolute
				content: ''
				width: 10px
				height: 10px
				border-radius: 5px
				background: #fff
				top: 50%
				margin-top: -5px
				opacity: 0
				transition: all .5s
			.carta
				height: 25vh
				margin-bottom: 1rem
				img
					height: 100%
					object-fit: contain
					box-shadow: 5px 5px 5px rgba(#000,.4)
					transition: all .5s
		.manojugador2
			&::before
				right: 1rem
			.carta
				background-image: url("../jpg/cartas/0/dorso.jpg")
				background-position: center
				background-size: contain
				background-repeat: no-repeat
		.manojugador1
			&::before
				left: 1rem
			.carta
				&:hover
					img
						cursor: pointer
						box-shadow: 15px 15px 15px rgba(#000,.4)
						transform: matrix(1.02, 0, 0, 1.02, 0, 0)
		&[jugadorturno="1"]
			.manojugador1
				&::before
					opacity: 1
		&[jugadorturno="2"]
			.manojugador2
				&::before
					opacity: 1
		.mesa
			.cartasjugador1
			.cartasjugador2
			.carta
				height: 20vh
				margin-bottom: 1rem
				img
					height: 100%
					object-fit: contain
					box-shadow: 5px 5px 5px rgba(#000,.4)
					transition: all .5s
		#cantoenvido,
		#cantotruco
			.envidoJ1, 
			.envidoJ2,
			#modalcerrarenvido
				display: none
			.puntos
				font-size: 1.2rem
				&::before
					content: "PUNTOS EN JUEGO "
					font-size: .8rem
		#cantotruco
			.botonaccion
				display: none
		&[trucocantojugador="2"]
			#cantotruco
				#modalcerrartruco
					display: inline-block

		&[trucocantojugador="1"]
			&[trucocanto="2"]
				#cantotruco
					#retruco,
					#modalquierotruco,
					#modalnoquierotruco
						display: inline-block
						opacity: 1
					&#modalcerrartruco
						display: none
			&[trucocanto="3"]
					#vale4,
					#modalquierotruco,
					#modalnoquierotruco
						display: inline-block
						opacity: 1
					&#modalcerrartruco
						display: none
					
		&[envidoquerido="1"]
			#cantoenvido
				.envidoJ1
					display: block
					input
						border: none
						font-size: 1.5rem
						border-bottom: 1px solid #000
						padding-bottom: .2rem
						text-align: center
					&.error
						&::after
							display: block
							content: attr(data-error)
							text-align: center
							padding-top: .2rem
				.botones
					display: none
					order: 2
			&[jugadormano="1"]
				#cantoenvido
					.envidoJ1
						order: 0
					.envidoJ2
						order: 1
						display: none
					#modalenvidosonbuenas
						display: none
			&[jugadormano="2"]
					.envidoJ1
						order: 1
					.envidoJ2
						order: 0
						display: block !important
					#modalenvidosonbuenas
						display: inline-block
			&[envidoganador="1"],
			&[envidoganador="2"]
				#cantoenvido
					.envidoJ2
						display: block
					.botones
						display: block
					.botonaccion
						display: none
					#modalcerrarenvido
						display: inline-block !important
		&[envidocantojugador="2"]
			#cantoenvido
				.envidoJ2
					display: block
				.botones
					display: block
				.botonaccion
					display: none
				#modalcerrarenvido
					display: inline-block
			&[envidoquerido="1"]
				#modalenvidocantar
					display: inline-block
				#modalcerrarenvido
					display: none !important
		&[envidoquerido="1"]
		&[vueltanum="0"]
			.accionesjugador1
				div
					button
						&#envido
							display: block
							opacity: 1
		&[jugadorturno="1"]
			.accionesjugador1
				opacity: 1
				div
					&:hover
						button
							opacity: 1
			&[trucocanto="0"]
				#truco
					display: block
					opacity: 1
			&[trucocantojugador="1"]
				&[trucocanto="2"]
					#retruco
						display: block
						opacity: 1
				&[trucocanto="3"]
					#vale4
						display: block
						opacity: 1
		#cierromano
			.cerrarpartido
				display: none
			&.ganador
				.cerrarpartido
					display: inline-block
				.repartir
					display: none

	&.jugando
		height: 100vh
		padding-top: 5rem
		background: #040   
		color: #000
		.inicio
			display: none
		.juego
			display: block
